@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";
/* line 3, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
body {
  background: #E3C691;
  font-family: "Inika", serif;
  font-size: 1em;
}

/* line 9, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
#content {
  color: #CC8E94;
  font-size: 2em;
}

/* line 14, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: #507356;
}
@media (max-width: 700px) {
  /* line 14, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
  h1 {
    font-size: 2.2em;
  }
}

/* line 24, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
h2 {
  font-size: 1.5em;
  color: #3E2B3D;
}

/* line 29, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
p {
  font-size: 1.3em;
  line-height: 1.5em;
  color: #3E2B3D;
  margin-bottom: 20px;
  margin-top: 15px;
}

/* line 37, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss */
section {
  padding: 20px 0;
}

/* line 4, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_layouts.scss */
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* line 5, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.city {
  -webkit-transition: all "../images/backgrounds/seattle_skyline.jpg" ease-out;
  -moz-transition: all "../images/backgrounds/seattle_skyline.jpg" ease-out;
  -o-transition: all "../images/backgrounds/seattle_skyline.jpg" ease-out;
  transition: all "../images/backgrounds/seattle_skyline.jpg" ease-out;
}
/* line 7, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.city img.logo {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  max-width: 450px;
  min-width: 250px;
}

/* line 17, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists {
  background: #8D8862;
  border-top: 20px solid #E3C691;
  border-bottom: 50px solid #507356;
}
/* line 22, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists h1 {
  font-size: 3em;
  color: #263729;
}
@media (max-width: 700px) {
  /* line 22, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
  .featuredartists h1 {
    font-size: 2em;
  }
}
/* line 30, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists h2 {
  margin-top: 20px;
  font-size: 1.8em;
  color: #dbb570;
}
@media (max-width: 700px) {
  /* line 30, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
  .featuredartists h2 {
    display: none;
  }
}
/* line 39, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists p {
  color: #314634;
}
/* line 43, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists .artistlist {
  padding-bottom: 20px;
}
/* line 46, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists .artistlist h2 {
  margin-top: 5px;
  font-size: 1.2em;
  color: #ebd7b2;
}
/* line 52, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists .artistlist .item {
  min-width: 95px;
  color: #6f6b4d;
  width: 18%;
  float: left;
  padding: 1%;
  text-align: center;
  position: relative;
}
/* line 61, ../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss */
.featuredartists .artistlist .item > img {
  max-width: 130px;
  margin: 0 auto;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */

{
"version": 3,
"mappings": "AAEQ,gEAAwD;;ACAhE,IAAK;EACH,UAAU,EDCK,OAAO;ECAtB,WAAW,EDYD,cAAO;ECXjB,SAAS,EAAE,GAAG;;;;AAGhB,QAAS;EACP,KAAK,EDGU,OAAO;ECFtB,SAAS,EAAE,GAAG;;;;AAGhB,EAAG;EACD,SAAS,EAAE,KAAK;EAChB,aAAa,EAAE,IAAI;EACnB,KAAK,EDTU,OAAO;;ACWtB,yBAA0B;;EAL5B,EAAG;IAMC,SAAS,EAAE,KAAK;;;;;AAIpB,EAAG;EACD,SAAS,EAAE,KAAK;EAChB,KAAK,EDfU,OAAO;;;;ACkBxB,CAAE;EACA,SAAS,EAAE,KAAK;EAChB,WAAW,EAAE,KAAK;EAClB,KAAK,EDrBU,OAAO;ECsBtB,aAAa,EAAE,IAAI;EACnB,UAAU,EAAE,IAAI;;;;AAGlB,OAAQ;EACN,OAAO,EAAE,MAAM;;;;AClCjB,UAAW;EACT,KAAK,EAAE,GAAG;EACV,SAAS,EAAE,MAAM;EACjB,MAAM,EAAE,MAAM;EACd,QAAQ,EAAE,QAAQ;;;;ACHpB,KAAM;ECQJ,kBAAkB,EAAE,wDAAkB;EACtC,eAAe,EAAE,wDAAkB;EACnC,aAAa,EAAE,wDAAkB;EACjC,UAAU,EAAE,wDAAkB;;;ADT9B,cAAS;EACP,QAAQ,EAAE,QAAQ;EAClB,KAAK,EAAE,CAAC;EACR,GAAG,EAAE,CAAC;EACN,KAAK,EAAE,GAAG;EACV,SAAS,EAAE,KAAK;EAChB,SAAS,EAAE,KAAK;;;;AAIpB,gBAAiB;EACf,UAAU,EHZK,OAAO;EGatB,UAAU,EAAE,kBAAiB;EAC7B,aAAa,EAAE,kBAAiB;;;AAEhC,mBAAG;EACD,SAAS,EAAE,GAAG;EACd,KAAK,EAAE,OAAmB;;AAC1B,yBAA0B;;EAH5B,mBAAG;IAIC,SAAS,EAAE,GAAG;;;;AAIlB,mBAAG;EACD,UAAU,EAAE,IAAI;EAChB,SAAS,EAAE,KAAK;EAChB,KAAK,EAAE,OAAkB;;AACzB,yBAA0B;;EAJ5B,mBAAG;IAKA,OAAO,EAAE,IAAI;;;;AAIhB,kBAAE;EACA,KAAK,EAAE,OAAmB;;;AAG7B,4BAAY;EACT,cAAc,EAAE,IAAI;;;AAEpB,+BAAG;EACD,UAAU,EAAE,GAAG;EACf,SAAS,EAAE,KAAK;EAChB,KAAK,EAAE,OAAmB;;;AAG5B,kCAAM;EACJ,SAAS,EAAE,IAAI;EACf,KAAK,EAAE,OAA2B;EAClC,KAAK,EAAE,GAAG;EACV,KAAK,EAAE,IAAI;EACX,OAAO,EAAE,EAAE;EACX,UAAU,EAAE,MAAM;EAClB,QAAQ,EAAE,QAAQ;;;AAElB,wCAAK;EACH,SAAS,EAAE,KAAK;EAChB,MAAM,EAAE,MAAM;EACd,OAAO,EAAE,KAAK;EC5CpB,qBAAqB,ED6CQ,GAAG;EC5ChC,kBAAkB,ED4CW,GAAG;EC3ChC,iBAAiB,ED2CY,GAAG;EC1ChC,aAAa,ED0CgB,GAAG;EAC1B,KAAK,EAAE,IAAI",
"sources": ["../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_variables.scss","../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_base.scss","../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_layouts.scss","../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_modules.scss","../../../../../../../Users/jkauszler/Sites/gulp-frontend-starter/components/sass/_mixins.scss"],
"names": [],
"file": "style.css"
}